# Secrets & env
access.env
.env
.env.*
key.json
*.secret.json

# Environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Streamlit local
.streamlit/

# OS / editor
.DS_Store
.vscode/
.idea/

# Caches / build
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/
